<html>
    <head>
        {% if title %}
        <title>{{ title }} - Brevet</title>
        {% else %}
        <title>Welcome to Brevet</title>
        {% endif %}
        <p>User id is: {{ current_user.id }}<p>
    </head>
    <body>
        <div>
            Brevet:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{ url_for('token') }}">Token</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
