{% extends "base.html" %}
{% block content %}
   <body>
   <h1>Hi, {{ current_user.name }}!</h1>

 <p>Select number of records</p>
<form action="/listAll/" method="get">
<button type="submit">Displayall</button>
<td><input name=top  type="text"
           min="0" max="900" size="5" /></td>
</form>

<form action="/listAll/csv" method="get">
<button name="Display All as csv" type="submit">Display All as csv</button>
<td><input name=top  type="text"
           min="0" max="900" size="5" /></td>
</form>

<form action="/listOpenOnly" method="get">
<button name="Display Open Only" type="submit">Display Open Only</button>
<td><input name=top  type="text"
           min="0" max="900" size="5" /></td>
</form>

<form action="/listOpenOnly/csv" method="get">
<button name="Display Open Only as csv" type="submit">Display Open Only as csv</button>
<td><input name=top  type="text"
           min="0" max="900" size="5" /></td>
</form>

<form action="/listCloseOnly" method="get">
<button name="Display Close Only" type="submit">Display Close Only</button>
<td><input name=top  type="text"
           min="0" max="900" size="5" /></td>
</form>

<form action="/listCloseOnly/csv" method="get">
<button name="Display Close Only as csv" type="submit">Display Close Only as csv</button>
<td><input name=top  type="text"
           min="0" max="900" size="5" /></td>
</form>
      </body>

{% endblock %}
